:root {
    background-color: rgba(206, 234, 238, 0.205);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.timer, .grades {
    font-weight: bold;
}

h1 {
    font-size: 220%;
    font-weight: bolder;
    margin-bottom: 18px;
    text-decoration: underline;
}

#home {
    max-width: 460px;
    padding: 15px 20px 15px 20px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(247, 213, 171, 0.582);
}

#home > p {
    font-size: 120%;
    font-weight: bold;
    color: rgb(77, 23, 128);
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 548px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#quizChoices {
    flex-direction: column;
    position: relative;
}

#quizQuestions1 {
    max-width: 380px;
    width: 380px;
    padding: 17px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(247, 213, 171, 0.582);
}

#quizQuestions2 {
    max-width: 380px;
    padding: 17px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(247, 213, 171, 0.582);
}

#quizQuestions3 {
    max-width: 380px;
    padding: 17px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(247, 213, 171, 0.582);
}

#quizQuestions4 {
    max-width: 380px;
    padding: 17px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(247, 213, 171, 0.582);
}

#quizQuestions5 {
    max-width: 380px;
    padding: 17px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(247, 213, 171, 0.582);
}

.buttonalign {
    position: relative;
    margin-left: 2px;
}

h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

button {
    display: inline-block;
    margin: 4px 6px 4px 6px;
    background-color: rgba(77, 17, 134, 0.733);
    color: whitesmoke;
    border-radius: 6%;
    border: 0;
    padding: 6px 9px;
    font-size: 110%;
}

button:hover {
    background-color: rgba(137, 43, 226, 0.473);
    cursor: pointer;
}

.hide {
    display: none;
}

#feedback {
    font-weight: bold;
    font-size: large;
    font-style: italic;
    width: 380px;
}

#feedbackStyle {
    position: absolute;
    margin-top: 370px;
    background-color:rgba(242, 76, 248, 0.212);
}

#quizComplete {
    padding: 17px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(243, 211, 171, 0.678);
}

#quizComplete > h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#quizComplete > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#scoresStyle {
    margin-top: 15%;
    margin-left: 42%;
    margin-right: 42%;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgba(243, 211, 171, 0.678);
}

#grades {
    font-weight: bold;   
}